@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Noto+Sans:wght@800&family=PT+Sans:wght@700&display=swap");

/* Change the values in here to match your branding */
:root {
  --black: #000000;
  --background-image: url("https://kroniclabz.mypinata.cloud/ipfs/QmP3RNjcMYaU9QNNFeQHPQXBdsBkrdPgNXDp7G3edgxur7");
  --white: #ffffff;
  --tw-color1: #a855f7;
  --tw-color1-hover: #9333ea;
  --font-family: 'Noto Sans', sans-serif;
  --text-color: white;
}

/* --- Don't need to modify below here --- */

/* Default design values of the entire document */

body {
  background: var(--background-color);
  background-image: var(--background-image);
  font-family: var(--font-family);
  color: var(--text-color);

  display: flex;
  margin: 0;
  text-align: center;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}